.drop-menu {
  display: none;
}
.menu-button {
  display: none;
}

.top {
  font-family: "twayair";
  background-color: #efdbc6;
  min-width: 1112px;
}
.top:nth-child(2) {
  background-color: #efdbc6;
  font-family: "twayair";
  height: 720px;
}
.top .header {
  width: 100%;
  z-index: 10;
  height: 137px;
  position: fixed;
}
.top .header .header-content-wrapper {
  display: flex;
  width: 1112px;
  line-height: 137px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}
.top .header .header-title {
  font-size: 32px;
  width: 30%;
  text-align: left;
}
.top .header .nav {
  display: flex;
  align-items: center;
  font-size: 16px;
  width: 70%;
  justify-content: space-around;
  color: #505050;
  line-height: 70px;
}
.top .header .nav .nav-em:first-child {
  /* border-bottom: 3px solid #ab3d22; */
}
.main-favorite-menu,
.top .top-banner {
  font-family: "Elice DigitalBaeum";
  width: 1112px;
}
.top .top-banner {
  height: 583px;
  padding-top: 137px;
  display: flex;
  margin: 0 auto;
}
.top .top-banner .banner-left {
  width: 60%;
}
.top .top-banner .banner-left .banner-title {
  font-size: 64px;
  font-weight: 700;
  color: #413b3a;
  margin-top: 71px;
  margin-bottom: 19px;
  line-height: 90px;
}
.top .top-banner .banner-left .banner-subtitle {
  font-size: 20px;
  font-weight: 100;
  line-height: 32px;
}
.top .top-banner .banner-left .banner-desc {
  margin-top: 20px;
  font-size: 16px;
}
.top .banner-right .banner-image {
  margin: 40px auto 0;
  width: 430px;
  height: 436px;
  left: 846px;
  top: 177px;
  /* box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.5); */
}
.top .banner-right .banner-image .img {
  height: 436px;
  background: url(https://junggam.click/api/img/dde0de43-6387-413b-bb32-7cfa6de028d7/);
  background-repeat: no-repeat;
  background-position: -170px -130px;
  /* box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.5); */
  image-rendering: -webkit-optimize-contrast;
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.main-favorite-menu {
  margin: 0 auto 115px;
}
.main-favorite-menu .favorite-menu-title {
  text-align: center;
  width: 164px;
  border-bottom: 3px solid #ab3d22;
  font-size: 22px;
  font-weight: 200;
  line-height: 40px;
  margin: 57px auto 37px;
}
.main-favorite-menu .favorite-menu-items {
  font-family: "BBTreeGo_R";
  display: flex;
  justify-content: space-between;
}
.main-favorite-menu .favorite-menu-items .favorite-menu-item {
  height: 341px;
  width: 341px;
  background-color: #f3f3f3;
  opacity: 0%;
}
.main-favorite-menu
  .favorite-menu-items
  .favorite-menu-item
  .favorite-menu-item-title {
  margin-top: 60px;
  margin-left: 40px;
  font-size: 28px;
  margin-bottom: 26px;
}
.main-favorite-menu
  .favorite-menu-items
  .favorite-menu-item
  .favorite-menu-item-subt {
  margin-left: 40px;
}
.main-favorite-menu .favorite-menu-items .favorite-menu-item:nth-child(1) {
  background-image: url(https://junggam.click/api/img/7bd06faf-c356-4170-aae3-97807071b592/);
  background-repeat: no-repeat;
  background-position: 100px 130px;
}
.main-favorite-menu .favorite-menu-items .favorite-menu-item:nth-child(2) {
  background-image: url(https://junggam.click/api/img/dfb0b67c-3a76-4146-a7f2-1f689f259465/);
  background-repeat: no-repeat;
  background-position: 50px 190px;
}
.main-favorite-menu .favorite-menu-items .favorite-menu-item:nth-child(3) {
  background-image: url(https://junggam.click/api/img/4ec03aec-ddd0-4681-9d05-7459cb8734e2/);
  background-repeat: no-repeat;
  background-position: 50px 180px;
}
.intercept-banner,
.main-second-menu {
  width: 1112px;
  margin: 0 auto 115px;
  display: flex;
}
.main-second-menu {
  font-family: "Elice DigitalBaeum";
  justify-content: space-between;
}
.main-second-menu .main-second-left {
  width: 430px;
  height: 260px;
}
.main-second-menu .main-second-left .main-second-left-header {
  display: flex;
  justify-content: space-between;
}
.main-second-menu .main-second-left .main-second-left-header .header-title {
  font-size: 22px;
  width: 122px;
  height: 40px;
  line-height: 32px;
  border-bottom: 3px solid #ab3d22;
  text-align: center;
  margin-bottom: 35px;
}
.main-second-menu .main-second-left .main-second-left-header .header-plus {
  font-size: 12px;
  line-height: 32px;
}
.main-second-menu .main-second-left .main-second-left-list {
  display: flex;
  flex-direction: column;
  height: 194px;
  justify-content: space-between;
}
.main-second-menu
  .main-second-left
  .main-second-left-list
  .main-second-left-em {
  display: flex;
  justify-content: space-between;
}
.main-second-menu
  .main-second-left
  .main-second-left-list
  .main-second-left-em
  .em-title {
  height: 32px;
  font-size: 16px;
}
.main-second-menu
  .main-second-left
  .main-second-left-list
  .main-second-left-em
  .em-date {
  font-size: 12px;
  height: 32px;
  color: #361e1b;
}
.intercept-banner {
  height: 330px;
}
.intercept-banner .banner-img {
  position: relative;
  height: 300px;
}
.intercept-banner .banner-nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.intercept-banner .banner-nav .banner-nav-em {
  height: 40px;
  font-size: 20px;
  width: 200px;
}
.intercept-banner .banner-nav .banner-nav-em svg {
  text-align: right;
}
.bottom {
  font-family: "Elice DigitalBaeum";
  width: 100%;
  min-height: 100px;
}
.bottom .bottom-intro {
  display: flex;
  justify-content: space-between;
}
.bottom .bottom-intro .bottom-intro-left {
  width: 570px;
  height: 673px;
  text-align: center;
}
.bottom .bottom-intro .bottom-intro-left .bottom-intro-left-title {
  font-size: 30px;
  height: 80px;
}
.bottom .bottom-intro .bottom-intro-left .bottom-intro-left-content {
  font-size: 20px;
  line-height: 60px;
}
.bottom .bottom-intro .bottom-intro-left .bottom-intro-left-minister {
  text-align: right;
  font-size: 30px;
  height: 80px;
  line-height: 80px;
  font-weight: 700;
}
.bottom .bottom-intro .bottom-intro-left .bottom-intro-left-minister span {
  font-size: 20px;
  font-weight: 100;
}
.bottom .bottom-intro .bottom-intro-right {
  margin-top: -25px;
  width: 455px;
  height: 631px;
  background-size: 1000px;
  background-position-x: -200px;
  background-repeat: no-repeat;
  background-image: url(https://junggam.click/api/img/c44cb7a1-1b03-40b2-a602-1af5ce12875c/);
}
.bottom .bottom-intro,
.bottom .bottom-map {
  width: 1112px;
  margin: 0 auto 115px;
}
.bottom .bottom-map .bottom-map-title {
  font-size: 30px;
  line-height: 80px;
  font-weight: 700;
}
.bottom .bottom-map .bottom-map-image {
  width: 1112px;
  height: 332px;
  background-image: url(https://junggam.click/api/img/91ecd390-11a8-48bc-957d-9b6b9ee8ee33/);
  margin-bottom: 20px;
  margin-top: 20px;
  background-size: cover;
}
.bottom .bottom-map .bottom-map-desc {
  font-size: 16px;
  line-height: 30px;
}
.footer {
  min-width: 1112px;
  width: 100%;
  height: 180px;
  background-color: #e1e1e1;
  padding-top: 40px;
}
.footer .footer-text {
  width: 500px;
  margin: 0 auto;
  text-align: center;
  line-height: 30px;
}
.footer .footer-icons {
  font-size: 26px;
  width: 120px;
  margin: 10px auto;
}

@media screen and (max-width: 800px) {
  .top {
    min-width: 600px;
  }
  .top .header .header-content-wrapper {
    width: 600px;
  }
  .top .top-banner {
    display: block;
    width: 600px;
    margin: 0 auto;
  }
  .top .top-banner .banner-right {
    display: none;
  }
  .top .top-banner .banner-left {
    width: 600px;
  }

  .main-favorite-menu {
    width: 600px;
  }

  .main-favorite-menu .favorite-menu-items {
    flex-wrap: wrap;
    justify-content: center;
  }
  .main-favorite-menu .favorite-menu-items .favorite-menu-item {
    width: 600px;
    height: 150px;
    margin-bottom: 30px;
  }
  .main-favorite-menu
    .favorite-menu-items
    .favorite-menu-item
    .favorite-menu-item-title {
    margin: 40px;
  }

  .main-favorite-menu .favorite-menu-items .favorite-menu-item:nth-child(1) {
    background-position: 300px -10px;
  }
  .main-favorite-menu .favorite-menu-items .favorite-menu-item:nth-child(2) {
    background-position: 300px 10px;
  }
  .main-favorite-menu .favorite-menu-items .favorite-menu-item:nth-child(3) {
    background-position: 300px 10px;
    margin-bottom: 0px;
  }

  .main-second-menu {
    width: 600px;
    margin: 0 auto 115px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .main-second-menu .main-second-left {
    width: 600px;
    margin-bottom: 80px;
  }

  .intercept-banner {
    width: 600px;
    height: 200px;
    display: block;
  }
  .intercept-banner .banner-img {
    margin: -100px auto 0px auto;
    height: 200px;
    width: 600px;
  }
  .intercept-banner .banner-nav {
    min-width: 600px;
    display: flex;
    flex-direction: row;
    margin-top: 40px;
  }
  .intercept-banner .banner-nav .banner-nav-em {
    width: 200px;
    font-size: 20px;
    text-align: center;
  }

  .bottom {
    width: 600px;
    margin: 0 auto;
  }
  .bottom .bottom-intro {
    display: block;
    padding: 0px;
    width: 600px;
    margin: 0 auto;
  }
  .bottom .bottom-intro .bottom-intro-left {
    width: 600px;
    height: 673px;
    text-align: center;
  }
  .bottom .bottom-intro .bottom-intro-left .bottom-intro-left-content {
    line-height: 50px;
  }

  .bottom .bottom-intro .bottom-intro-right {
    display: none;
  }
  .bottom .bottom-map {
    width: 600px;
  }
  .bottom .bottom-map .bottom-map-title {
    font-size: 30px;
    line-height: 80px;
    font-weight: 700;
  }
  .bottom .bottom-map .bottom-map-image {
    width: 600px;
    height: 232px;
  }

  .footer {
    min-width: 600px;
  }
}

@media screen and (max-width: 550px) {
  .drop-menu {
    opacity: 0%;
    display: none;
    position: fixed;
    background-color: white;
    width: 100%;
    height: 300px;
    z-index: 999;
    margin-top: 140px;
    border-bottom: 2px solid rgb(189, 189, 189);
  }

  .drop-menu-em {
    font-size: 24px;
    padding: 12px;
    margin: 10px;
    margin-left: 32px;
  }

  .menu-button {
    display: block;
    line-height: 160px;
    cursor: pointer;
  }

  .top {
    min-width: 320px;
  }
  .top:nth-child(2) {
    height: 620px;
  }

  .top .header .header-content-wrapper {
    width: 320px;
    justify-content: center;
    margin-bottom: 0px;
    height: 0px;
  }
  .top .header .header-content-wrapper .header-title {
    width: 300px;
    font-size: 30px;
  }
  .nav,
  .nav .nav-em {
    display: none;
  }
  .top .top-banner {
    display: block;
    width: 320px;
    margin: 0 auto;
  }
  .top .top-banner .banner-right {
    display: none;
  }
  .top .top-banner .banner-left {
    width: 320px;
  }
  .top .top-banner .banner-left .banner-title {
    margin-top: 50px;
    font-size: 42px;
    line-height: 70px;
  }
  .top .top-banner .banner-left .banner-subtitle {
    font-size: 16px;
  }

  .main-favorite-menu {
    width: 320px;
  }

  .main-favorite-menu .favorite-menu-items {
    flex-wrap: wrap;
    justify-content: center;
  }
  .main-favorite-menu .favorite-menu-items .favorite-menu-item {
    width: 320px;
    height: 150px;
    margin-bottom: 30px;
  }
  .main-favorite-menu
    .favorite-menu-items
    .favorite-menu-item
    .favorite-menu-item-title {
    margin: 40px;
  }

  .main-favorite-menu .favorite-menu-items .favorite-menu-item:nth-child(1) {
    background-repeat: no-repeat;
    background-position: 200px -10px;
  }
  .main-favorite-menu .favorite-menu-items .favorite-menu-item:nth-child(2) {
    background-repeat: no-repeat;
    background-position: 200px 10px;
  }
  .main-favorite-menu .favorite-menu-items .favorite-menu-item:nth-child(3) {
    background-repeat: no-repeat;
    background-position: 220px 10px;
    margin-bottom: 0px;
  }

  .main-second-menu {
    width: 320px;
    margin: 0 auto 115px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .main-second-menu .main-second-left {
    width: 600px;
    margin-bottom: 80px;
  }

  .intercept-banner {
    width: 320px;
    height: 200px;
    display: block;
  }
  .intercept-banner .banner-img {
    margin: -100px auto 0px auto;
    height: 200px;
    width: 320px;
  }
  .intercept-banner .banner-nav {
    min-width: 320px;
    margin-top: 40px;
  }
  .intercept-banner .banner-nav .banner-nav-em {
    width: 150px;
  }

  .bottom {
    width: 320px;
  }
  .bottom .bottom-intro {
    width: 320px;
    margin-bottom: -40px;
  }
  .bottom .bottom-intro .bottom-intro-left {
    width: 320px;
    height: 673px;
    text-align: center;
  }
  .bottom .bottom-intro .bottom-intro-left .bottom-intro-left-title {
    font-size: 22px;
    font-weight: bold;
  }
  .bottom .bottom-intro .bottom-intro-left .bottom-intro-left-content {
    line-height: 35px;
    font-size: 16px;
  }

  .bottom .bottom-intro .bottom-intro-right {
    display: none;
  }
  .bottom .bottom-map {
    width: 320px;
    margin-bottom: 50px;
  }
  .bottom .bottom-map .bottom-map-title {
    font-size: 20px;
    font-weight: 700;
  }
  .bottom .bottom-map .bottom-map-image {
    width: 320px;
    height: 150px;
  }
  .bottom .bottom-map .bottom-map-desc {
    font-size: 14px;
  }

  .footer {
    min-width: 320px;
    font-size: 14px;
  }
  .footer .footer-text {
    width: 320px;
  }
}
